@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*Bom aqui está uma configuração que fiz para aumentar meu conhecimento em Flexbox, estou aprendendo então é isso.

Algumas configurações padrões*/

:root{ /*alguma modificação de cor só trocar os codigos aqui*/
    --cor0: #1F2837;
    --cor1: #ffffff;
    --cor2: #c0c0c0;
    --cor3: #000000;
    --cor4: #2C5291; /* cor triade #2C5291 + #91392C + #77912C*/
    --cor5: #889AB8;
    --cor6: #595959;
    --cor7: #91702C; /*Complementar da cor4 coloquei ela como forma de contraste para uso nos botoes centrais*/
    --main-color: #ffffff;
    --letra: "Lato";

}


span{
    width: 60px;
    height: 60px;
    background-color: green;
}


*{ /*aqui deixei sem algumas configurações automaticas e troquei a fonte do conteudo*/
    padding: 0px;
    margin: 0px;
    font-family: var(--letra);
    
}

body{
    margin: auto;
    max-width: 1200px;
    min-width: 280px;
    background-color: var(--cor5);
}
main{
    width: 1200px;
    background-color: var(--main-color);
    border-radius: 0px 0px 20px 20px;
    margin: auto;
}
main > h1{
    text-align: center;
    padding: 10px;

    width: 1180px;
    height: 60px;

    background-color: var(--cor6);
    color: var(--cor1);
}

menu{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--cor1);
}
a:hover{
    color: var(--cor5);
}


ul{
    list-style-type: none;
}

/* Fornecedor */

section.forn{
    background-color: var(--cor0);
    height: 510px;
    width: 290px;

    font-size: 1.2em;
    font-weight: bolder;

    border-radius: 20px;
    margin: 10px;
    
    padding: 10px;

    flex:0 1 auto;

    text-align: center;

}

section.forn > div > ul > li{
    margin: 40px;
}
section.forn > div > h2{
    color: white;
}

/*Centro da pagina*/
section.centro{
    margin: 5px;
    
    border-radius: 20px;

    flex:0 2 auto;

    height: 500px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

section.centro > div{
    background-color: var(--cor0);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    width: 220px;
    height: 150px;
    padding: 0px 5px;
    border-radius: 20px;

}

section.centro a:hover{
    color: var(--cor3);
    transition: 1s;
}

div.meio { /*quadrado azul claro*/
    background-color: var(--cor4);
    margin: 0px;
    
    border-radius: 10px;

    font-size: 0.7em;
    align-content: center;
    text-align: center;

    width: 190px;
    height: 100px;
    border: 5px solid var(--cor1);
}

div#espaco-grande{
    width: 455px;

}

div#espaco{ /*quadrado de entrada e saida */
    width: 430px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


div.meio > a{
    height: 100%;
    width: 29.7%;
}

div.meio > a.espaco{ /*espaco maior da entrada e saida*/
    display: inline-block;
    padding: 0px 40px;
}

div.meio:hover{
    background-color: var(--cor7);
    border: 5px solid var(--cor3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.700);
    
    transition: 0.2s;
}

/*Lado direito dá pagina*/
section.outro{
    margin: 10px;
    height: 350px;
    width: 250px;

    font-weight: bolder;

    flex:0 1 auto;


}

section.outro > ul{
    display: flex;
    flex-flow: column nowrap;
}

section.outro > ul > a.lado{
    background-color: var(--cor2);
    color: var(--cor3);

    margin: 10px;
    padding: 5px;
    text-align: center;


    border-radius: 5px;
    
}
section.outro > ul > a:hover{
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
    color: white;
}

section.outro > ul > a {
    height: 30px;
    
    border-radius: 5px;
}
