@charset "UTF-8";

:root{
    --cor0: #2C5291;
    --cor1: #91702C;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    margin-top: 50px;
    border-collapse: collapse;
    padding: 10px;
    width: 700px;
    background-color: white;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
th.cabe{
    text-align: left;
    font-size: 0.8em;
}
th#mat{
    text-align: center;
}
th.peq{
    font-size: smaller;
    padding: 0px;
    padding-left: 10px;
    text-align: left;
}

tfoot{
    text-align: left;
}
th > img.logo{
    width: 70px;
    height: 70px;
}

a{
    background-color: var(--cor0);
    color: white;

    text-decoration: none;

    width: 50px;
    padding: 5px;
    border: 2px solid black;
}

a:hover{
    background-color: var(--cor1);
    color: black;
    box-shadow: 0px 0px 5px black;
    transition: 0.2s;

}