@charset "UTF-8";

/*
Typical Device breackpoints
----------------------------
Tela pequena: ate 600px
Celular: de 600px até 768px
Tablet: 768px até 992px 
Desktop: 992px até 1200px
Tela grande: acima de 1200px
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --cor0: #ffffff;
    --cor1: #F41616;
    --cor2: #B53E3E; 
    --cor3: #754545;
    --cor4: #16f555;
    --cor5: #44A05E;
    --cor6: #394B3E;
    --cor7: #000000;
    --cor8: #2196F3;

}

body{
    background-image: linear-gradient(to left, #f4161649, #16f5554d);
}
    
header{
    padding: 10px;
    text-align: center;
    background-color: var(--cor2);
    color: var(--cor0);
    
}
    
main{
    text-align: center;
    margin: auto;
    
    background-color: var(--cor0);
    border: 2px solid black;
    
    max-width: 700px;
    min-width: 300px;
}

main > p{
    padding: 10px;
    margin-bottom: 15px;
}

h2{
    font-weight: bold;
    margin: 15px;
}

div.projeto{
    display: flex;
    flex-flow: row nowrap;
}


 a.links{
    font-size: 1.2em;
    padding: 4px;
    margin: 10px;
    text-decoration: none;

    flex: auto;

    color: var(--cor7);

    border: 2px solid ;
    background-color: var(--cor4);
}
    
a.links:hover{
    color: var(--cor7);
    background-color: #F41616;
    border: 2px solid var(--cor7);
}

div.redes{
    margin: 10px;
}

div.redes > a{
    color: var(--cor7);
    text-decoration: none;
    padding: 2px;
    margin: 0px 10px;
}

div.redes > a:hover{
    color:var(--cor1)
}
        


@media screen and (min-width: 768px) {
    body{
        background-image: linear-gradient(to left, #16f5554d, #f4161649);
    }
    
    .links a:hover{
        transition: 1s;
    }
}

